body {
	font-family: 'Roboto', sans-serif;
	background-color:#060e2e 
}


.container {
	background-color: #000;
}

h1 {
	font-size: 50px;
	text-align: center;
	background-color: #060e2e;
	color: white;

}

h2{
	font-size: 35px;
	margin-right: 70px;
	padding: 10px;
	color: #ced0d6;
	text-align: center;
	letter-spacing: 4px;
}

.logo {
	width: 200px;
	height: 150px;
	border-radius: 5px;
	border: solid #2d4cc4 3px;
}

.logo:hover {
	box-shadow: 0 0 16px blue;
}


.foto {
	width: 800px;
	margin-left: 50px;
	display: inline-block;
}

header{
	justify-content: center;
	
}

ul{
	justify-content: center;
	display: flex;
	align-items: center;
}

li{
	list-style: none;
	display: inline;
	width: 250px;
	height: 250px;
	padding: 10px;
}



p{
	position: absolute;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 30px;
	padding: 15px;
	max-width: 500px;
	text-align: justify;
	background-color: #060e2e;
	color: #fff;
	border-radius: 7px;
	border: solid #2d4cc4;
	display: inline-block;
}

.enlace{
	text-decoration: none;
	color: #7a7c80;
	text-align: center;
	display: block;
}

.enlace:hover {
	box-shadow: 0 0 16px blue;
	font-size: 20px;
	color: white;
}


@media (max-width: 1260px) {
	p{
		position: relative;
		display:inline-flex;
		max-width: 750px;
		margin-left: 50px;
	}
	ul{
		display: inline-block;
		justify-content: center;
	}
}

